
    <nav class="navbar navbar-expand-lg navbar-light bg-primary">
        <a href="" routerLink="/" class="navbar-brand">Stefanine</a>
        <a href="" routerLink="/autor" class="navbar-brand">Autor</a>
        <a href="" routerLink="/autor-create" class="navbar-brand" routerLinkActive="">AutorCreate</a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a href="" class="navlink">Home</a>
                </li>
            </ul>
        </div>
    </nav> 
