<main id="main">
        <div class="containre" style="margin-left: 1.5em">
          <div class="row">
            <form action="" (ngSubmit)="create()">
              <div class="form-group">
                  <label for="">Name</label>
                  <input type="text" name="name" class="form-control" placeholder="Name: " [(ngModel)]="task.name"/>
              </div>
              <div class="form-check">
                <input type="radio" class="form-check-input" name="done" [(ngModel)]="task.done" [value]="true"/>
                <label for="" class="form-check-label">Yes</label>
              </div>
              <div class="form-check">
                  <input type="radio" class="form-check-input" name="done" [(ngModel)]="task.done" [value]="false"/>
                  <label for="" class="form-check-label">No</label>
              </div>
              <div class="form-group">
                <button type="submit" class="btn btn-primary">Save</button>          
              </div>
            </form>
          </div>
          <div class="row mt-4">
            <table class="table">
              <thead>
                <tr>
                  <th>Id</th>
                  <th>Nome</th>
                  <!-- <th>Done</th> -->
                  <th>Delete</th>
                  <th>Update</th>
                </tr>
              </thead>
              <tbody *ngFor="let autor of autores">
                <tr>
                  <th>{{autor.id}}</th>
                  <th>{{autor.nome}}</th>
                  <!-- <th>
                    <span *ngIf="task.done" class="badge badge-primary">{{task.done}}</span>
                    <span *ngIf="!task.done" class="badge badge-secondary">{{task.done}}</span>
                  </th> -->
                  <th>
                    <button class="btn btn-danger" (click)="delete(autor.id)">Delete</button>
                  </th>
                  <th>
                    <a [routerLink]="['test/' + autor.id]" class="btn btn-success" routerLinkActive="active">Update</a>
                  </th>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </main>